<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
th:with="lang=${#locale.language}"
th:lang="${lang}">
<head>
    <div th:replace="fragments/sidebar :: head"/>
    <meta charset="ISO-8859-1">
        <title>Ajouter Formations  </title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <div id="wrapper">
        <div >
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar">
           
               <!-- Sidebar - Brand -->
               <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                   <div class="sidebar-brand-icon rotate-n-15">
                       <i class="fas fa-graduation-cap"></i>
                   </div>
                   <div class="sidebar-brand-text mx-3">Horizon Acedmy</div>
               </a>
               <!-- Nav Item - Dashboard -->
               <li class="nav-item ">
                   <a class="nav-link" th:href="@{/class}">
                       <i class="fas fa-fw fa-tachometer-alt"></i>
                       <span>Classe</span></a>
               </li>
               <!-- Nav Item - Dashboard -->
               <li class="nav-item ">
                   <a class="nav-link" th:href="@{/planning}">
                       <i class="fas fa-calendar-alt"></i>
                       <span>Planning</span></a>
               </li>
           
               <!-- Nav Item - Dashboard -->
               <li class="nav-item ">
                   <a class="nav-link" th:href="@{/test}">
                       <i class="fas fa-file-alt"></i>
                       <span>Test</span></a>
               </li>
           
           
               <!-- Nav Item - Dashboard -->
               <li class="nav-item ">
                   <a class="nav-link" th:href="@{/formateur}">
                       <i class="fas fa-fw fa-user-tie"></i>
                       <span>Formateur</span></a>
               </li>
           
           
               <!-- Nav Item - Dashboard -->
               <li class="nav-item ">
                   <a class="nav-link" th:href="@{/etudiant}">
                       <i class="fas fa-fw fa-user-graduate"></i>
                       <span>Etudiant</span></a>
               </li>
           
           
           
           
               <!-- Nav Item - Dashboard -->
               <li class="nav-item ">
                   <a class="nav-link" th:href="@{/formations}">
                       <i class="fas fa-fw fa-book"></i>
                       <span>Formation</span></a>
               </li>
           
           
           
           
               <!-- Nav Item - Dashboard -->
               <li class="nav-item ">
                   <a class="nav-link" th:href="@{/entreprise}">
                       <i class="fas fa-fw fa-school"></i>
                       <span>Entreprise</span></a>
               </li>
           
           
           
           </ul>
           </div>     
 <!-- start of Sidebar -->      
 <!-- <div th:replace="fragments/sidebar :: sidebar"/>
         End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow ">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2021</div>
                                        <span class="font-weight-bold">Horizon Acedmy downolad note!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        Horizon Acedmy downolad TEXT!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Horizon Acedmy downolad note!
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">hi , horzion Acedmy</div>
                                        <div class="small text-gray-500">ALOUI Souad· 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">date de notre prochain session,horzion Acedmy</div>
                                        <div class="small text-gray-500">selem · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">date de notre prochain session,horzion Acedmy</div>
                                        <div class="small text-gray-500">ALOUI Souad· · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">date de notre prochain session,horzion Acedmy</div>
                                        <div class="small text-gray-500">souad· 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                             <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown" id="dropuser">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" value="Logout" />
                                    </form> 
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->



    <div class="container text-center">
        <div>
            <h1>Formations Registration - Sign Up</h1>
        </div>
        <form th:action="@{/process_formation}" id="lien-card"> <!--th:object="${formations}">-->
            method="post" style="max-width: 600px; margin: 0 auto;">

       
            <div class="form-group row">
                <label class="col-4 col-form-label">name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{name}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Description: </label>
                <div class="col-8">
                    <input type="text" th:field="*{description}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Date_Debut: </label>
                <div class="col-8">
                    <input type="date" th:field="*{dateDebut}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Date_Fin: </label>
                <div class="col-8">
                    <input type="date" th:field="*{dateFin}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Duree: </label>
                <div class="col-8">
                    <input type="text" th:field="*{duree}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-4 col-form-label">Nombre_heurs: </label>
                <div class="col-8">
                    <input type="text" th:field="*{nbHeurs}" class="form-control"
                            />
                </div>
            </div>
           
            <div class="form-group row" hidden>
                <label class="col-4 col-form-label">Prix: </label>
                <div class="col-8">
                    <input type="text" th:field="*{prix}" class="form-control"
                         value="1"   />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Formateur: </label>
                <div class="col-8">
                    <input type="text" th:field="*{formateur}" class="form-control"
                            required minlength="6" maxlength="10"/>
                </div>
            </div>
             
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
        </form>

         <!-- Footer -->
         <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Horizon Acedmy 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
</body>
</html>